<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <!-- Links -->
    <a href="#" class="col-xs-4 navbar-brand">Rick Menne</a>
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
      </li> -->
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
          <a href="https://github.com/menneric84">
            <img src="assets\GitHub-Mark-32px.png"  width="30" height="30" alt="Github">
          </a>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com/menneric84">
            <img src="assets\Twitter_Social_Icon_Circle_Color.png"  width="30" height="30" alt="Twitter">
          </a>
        </li>
        <li class="nav-item">
          <a href="https://linkedin.com/in/rick-menne-068586105">
            <img src="/assets\In-2C-34px-R.png"  width="30" height="30" alt="Linked In">
          </a>
        </li> 
    </ul>

  </nav>