<div class="container">
    <label for="fname">Your Name</label>
    <input type="text" id="fname" name="firstname" placeholder="John Doe">

    <label for="lname">Your Email</label>
    <input type="text" id="lname" name="lastname" placeholder="email@youremaildomain.com">


    <label for="subject">Text</label>
    <textarea id="subject" name="subject" placeholder="Put your message here!" style="height:200px"></textarea>

    <button class="btn btn-secondary centerBtn" (click)="sendEmail()">Submit</button>
    <button class="btn btn-secondary centerBtn" [routerLink]="['/']">Cancel</button>
</div>