/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body {
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    color: #e0e0e0;
  }